# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.env/
.venv/
.env

# Django stuff
db.sqlite3
/staticfiles/
/media/

# VSCode
.vscode/

# Sistema
*.log

TODO.md

# Pytest and Coverage
.pytest_cache/
.coverage
htmlcov/

# Outros
.claude/
.qodo